<!-- Modal que se activara para añadir un aprendiz -->
<div class="modal fade" id="{{ ModalEleccion }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ ModalEleccion }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <!-- Formulario para pedir los datos al usuario que se ingresara en la tabla Aprendices -->
                <form action="{% url 'AgregarAprendiz' %}" method="post"> {% csrf_token %}
                    <div class="col-md-12 mb-4">
                        <label for="" class="form-label">Documento</label>
                        <input type="number" name="Documento" id="" class="form-control" required>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            <label for="" class="form-label">Nombre</label>
                            <input type="text" name="Nombre" id="" class="form-control" required>
                        </div>
                        <div class="col-md-6">
                            <label for="" class="form-label">Apellido</label>
                            <input type="text" name="Apellido" id="" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-md-12 mb-4">
                        <label for="" class="form-label">Telefono</label>
                        <input type="number" name="Telefono" id="" class="form-control" required>
                    </div>

                    <div class="col-md-12 mb-4">
                        <label for="" class="form-label">Direccion</label>
                        <input type="text" name="Direccion" id="" class="form-control" required>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success">Agregar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>