{% extends "Bases/Base.html" %}

{% block title %} Inicio {% endblock %}

{% block content %}

    <div class="row mt-3 mb-4">
        <div class="col-md-10">
            <h1>Listado de aprendices</h1>
        </div>
        <div class="col-md-2 mt-auto">
            {% include "Botones/Aniadir.html" with ModalEleccion="Aprendices" %}
        </div>
    </div>

    <table class="table table-striped">
        <thead class="table-success">
            <tr>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for i in listaAprendices %}
                {% if i.Estado == True %}
                    <tr>
                        <td>{{ i.Documento }}</td>
                        <td>{{ i.Nombre }}</td>
                        <td>{{ i.Apellido }}</td>
                        <td>{{ i.Telefono }}</td>
                        <td>{{ i.Direccion }}</td>
                        <td>Activo</td>
                        <td>
                            {% include "Botones/Editar.html" with PaginaElegida="ListarAprendices" %}
                            {% include "Botones/Eliminar.html" with PaginaElegida="ListarAprendices" %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    {% include "Aprendices/AniadirAprendices.html" with ModalEleccion="Aprendices" %}

{% endblock %}
