<!-- Heredamos la plantila base -->
{% extends "Bases/Base.html" %}

<!-- Agregamos el titulo de la pagina -->
{% block title %} Aprendices {% endblock %}

<!-- Colocamos el contenido que se vera en la pagina -->
{% block content %}

    <div class="row mt-3 mb-4">
        <div class="col-md-10">
            <h1 class="fw-bolder">Listado de aprendices</h1>
        </div>
        <!-- Incluimos el boton para agregar un Aprendiz o Programa -->
        <div class="col-md-2 mt-auto">
            {% include "Botones/Aniadir.html" with ModalEleccion="Aprendices" %}
        </div>
    </div>

    <table class="table table-striped" id="Tablas_Contenido_Aprendices">
        <thead class="table-success">
            <tr>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Recorremos el objeto que se le pasa desde la vista -->
            {% for i in listaAprendices %}
                <!-- Verificamos que el estado sea verdadero para mostrar los aprendices que estan activos -->
                {% if i.Estado == True %}
                    <tr>
                        <td>{{ i.Documento }}</td>
                        <td>{{ i.Nombre }}</td>
                        <td>{{ i.Apellido }}</td>
                        <td>{{ i.Telefono }}</td>
                        <td>{{ i.Direccion }}</td>
                        <td>Activo</td>
                        <td>
                            <!-- Incluimos los botones para Editar y Eliminar -->
                            {% include "Botones/Editar.html" with PaginaElegida="ListarAprendices" %}
                            {% include "Botones/Eliminar.html" with PaginaElegida="ListarAprendices" %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <!-- Incluimos la ventana modal para agregar un aprendiz -->
    {% include "Aprendices/AniadirAprendices.html" with ModalEleccion="Aprendices" %}

{% endblock %}
