{% extends "Bases/Base.html" %}

{% block content %}

    <div class="modal" tabindex="-1" id="CerrarModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregado correctamente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Se ha realizado la operacion correctamente</p>
                </div>
                <div class="modal-footer">
                    <a href="{% url Redireccionamiento %}" class="btn btn-success">Cerrar</a>
                </div>
            </div>
        </div>
    </div>

    <button hidden id="triggerModal" data-bs-toggle="modal" data-bs-target="#CerrarModal"></button>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var miModal = new bootstrap.Modal(document.getElementById('CerrarModal'));
            miModal.show();
        });
    </script>

{% endblock %}
