<!-- Heredamos la plantilla base -->
{% extends "Bases/Base.html" %}

<!-- Colocamos el contenido que se vera en la pagina -->
{% block content %}

    <!-- Modal que saldra si el formulario no se envia correctamente -->
    <div class="modal" tabindex="-1" id="CerrarModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">No se agrego correctamente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Ha ocurrido un error, intentalo de nuevo</p>
                </div>
                <div class="modal-footer">
                    <a href="{% url Redireccionamiento %}" class="btn btn-success">Cerrar</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Esta funcion y este boton permite que la ventana modal salga automaticamente apenas se ingrese a la pagina -->
    <button hidden id="triggerModal" data-bs-toggle="modal" data-bs-target="#CerrarModal"></button>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var miModal = new bootstrap.Modal(document.getElementById('CerrarModal'));
            miModal.show();
        });
    </script>

{% endblock %}
