{% extends "Bases/Base.html" %}

{% block title %} Inicio {% endblock %}

{% block content %}

    <h1>Listado de programas</h1>

    <table class="table table-striped">
        <thead class="table-success">
            <tr>
                <th>Numero de ficha</th>
                <th>Programa</th>
            </tr>
        </thead>
        <tbody>
            {% for i in listaProgramas %}
            <tr>
                <td>{{ i.Numero_Ficha }}</td>
                <td>{{ i.Programa }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}